/*
   This file is included so there is no dead link in HW 1
   I did not change a lot from CP1 but I did improve the CSS a bit
   after gaining a better understanding of box models in CSS
*/

/*
    Name: Chao Hsu Lin
    Date: September 29, 2018
    Section: CSE 154 AI

    This is the style sheet for index.html, 404.html and gallery.html.
		Background images by me.

    (\__/)
    (•ㅅ•)
*/
@import url('https://fonts.googleapis.com/css?family=Lato');
/*General Styling*/

body {
  /* Fixing the weird white space */
  margin: 0;
}

h1 {
  font-size: 8em;
  margin: 0;
}

h2 {
  font-size: 3em;
  padding: 2% 0%;

  margin: 0;
}

h3 {
  font-size: 2em;
  padding: 1% 0%;
}

p, li {
  font-size: 1.5em;
  padding: 1% 0%;
  margin: 0;
}

ol, ul {
  padding: 5%;
}

section, header, footer {
  background-color: #00152d;
  color: #e5f5f6;
  font-family:  'Lato', Helvetica, sans-serif;
  height: 100vh;
}

section {
  padding: 5% 5%;
}

header {
  background-image: url("images/background.png");
  background-repeat: repeat-x;
  background-size: cover;

  height: 1100px;
  overflow: hidden;
  position: relative;
  z-index: -4;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 1100px;
  position: fixed;
}

#layer-foreground {
  background-image: url("images/Foreground.png");
  z-index: -1;
}

#layer-harper {
  background-image: url("images/Harper.png");
  z-index: -2;
}

#layer-mountain {
  background-image: url("images/Mountain.png");
  z-index: -3;
}

header p {
  padding-right: 50%;
}

header h1+p {
  /*
    Should probably use a span with class instead but I wanted to try out
    the + selector thing
  */
  font-size: 2em;
  font-weight: bold;
}

footer {
  height: 6vh;
  padding: 1%;
}

footer p {
  font-size: 1em;
  padding: 0;
  text-align: center;
}

/*Normal links*/
a {
  text-decoration: none;
}

a:link {
  color: #82b4ff;
}

a:visited {
  color: #3c8aff;
}

/*Button links*/
.button {
  background-color: #82b4ff;
  border-radius: 10px;
  display: inline-block;
  margin: 0 2% 0 0;
}

.button a {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  padding: 8px 40px;
  text-align: center;
}

.button:hover {
  background-color: #3c8aff;
}

/*About section*/
#bio {
  /*
    To get the horizontal layout
  */
  display: flex;
  justify-content: space-between;
}

.bioItem {
  background-color: #e5f5f6;
  border-radius: 10px;
  margin: 5% 1%;
  padding: 2.5%;
  width: 30%;
}

.bioItem h2 {
  color: #182c46;
  font-size: 2em;
}

.bioItem li {
  color: #182c46;
  font-size: 1.5em;
}

/*Project section*/
.project {
  background-color: #e5f5f6;
  border-radius: 10px;
  list-style-type: none;
  margin: 2% 0;
  padding: 2%;
}

.project h2 {
  color: #182c46;
  font-size: 2.5em;
  padding: 0 0;
}

.project p {
  color: #182c46;
  font-size: 1.5em;
}

/*Image styling*/
#moon {
  float: right;
  position: relative;
  width: 25%;
  left: -50px;
  bottom: 450px;
}

#moon404 {
  height: 150px;
}
